---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <p style="margin_top:30em;font-family: times;font-size:18pt;color:white;" align="center">The universe is a dynamical system, constantly changing and changing those within it aswell. It is our duty as thinking beings to explore that system, to flow with it, but most importantly, experience the cosmos together. The rise of technology and networks bring new scenarios for research and development, one of them is the open source community. Open source aims for intellectual freedom, allowing for grand scale global contributions. This website is product of github’s pioneering open source platform for software development. This site presents a compilation of the work done and the values learned throughout the semester , all related by a common idea, digital expression.
</p>          
    {% include scripts.html %}
</body>
</html>
